
<div class="featurette">
  <img class="featurette-image pull-right" />
  <h2 class="featurette-heading">CE ESTE UN GENERATOR? </h2>
  <p class="lead"> Un generator de numere aleatoare, contrar poate unei prime impresii,
    nu genereaza numere aleatoare ci "pseudo" aleatoare, numere care doar dau impresia ca sunt aleatoare.
    Generarea de numere inseamna executia unui algoritm, fiecare nou numar, depinzand intr-un fel sau altul de ultimul generat.
    Din aceasta cauza, orice astfel de algoritm are nevoia de un numar initial, numit "seed".
    Un algoritm care e initializat cu acelasi seed va genera aceiasi secventa de numere.
    Acesta este un aspect important, intrucat in practica se uita adesea sa se initializeze generatorul.
    Fiind un algoritm matematic bine determinat, si numerele generate sunt deterministe.
    Doar un generator hardware poate produce numere cu adevarat aleatoare.</p>
</div>

<hr class="featurette-divider"/>

<div class="container">
  <div class="row">
    <div class="col-sm-6">

      <h2>Victor</h2>
      <p>Junior programmer</p>
    </div>

    <div class="col-sm-6">

      <h2>Adi</h2>
      <p> Customer Operation TNI</p>
    </div>

  </div>
</div>
